beautifulsoup4==4.14.2
cmake==3.31.10
dnspython==2.8.0
glcontext==2.5.0
imageio-ffmpeg==0.6.0
moderngl==5.7.4
multipledispatch==1.0.0
numpy==1.24.4
pillow==12.1.0
pyassimp==5.2.5
Pygments==2.19.2
pymongo==4.15.5
PyOpenGL==3.1.10
pypdf==6.3.0
pyrr==0.10.3
PySide6==6.10.0
PySide6_Addons==6.10.0
PySide6_Essentials==6.10.0
scipy==1.10.1
shiboken6==6.10.0
soupsieve==2.8
trimesh==4.11.0
typing_extensions==4.15.0
